@model SiltonFoundation.Models.ViewModels.ChangePasswordViewModel

@{
    // TODO: Update buttons. Build into routes/code-behind for email password reset
}

    <form class="register" method="post" asp-controller="Home" asp-action="ResetPassword">

        <p>Please check your email for the reset token and enter below along with your email and new password:</p>

        <div asp-validation-summary="All"></div>

        <fieldset>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
        </fieldset>

        <fieldset>
            <label asp-for="Token"></label>
            <input asp-for="Token" />
        </fieldset>

        <p>(Password must be at least 8 characters with a mix of capital and lowercase letters, numbers, and special characters.)</p>
        <fieldset>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
        </fieldset>

        <fieldset>
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />
        </fieldset>

        <button type="submit">Reset Password and Log In</button>
        <a asp-action="Register">Don't have an account? Click here to register.</a>

    </form>