@model SiltonFoundation.Models.ViewModels.UpdateProfileViewModel
@using Microsoft.AspNetCore.Identity
@using SiltonFoundation.Models
@inject SignInManager<AppUser> signInManager

@{
//AppUser user = await userManager.FindByEmailAsync(User.Identity.Name);
}


@if (signInManager.IsSignedIn(User) && (User.Identity.Name == Model.Email || User.IsInRole("Admin")))

    {
    <form class="register" method="post" asp-page-handler"="UpdateProfile">

        <p class="formheader">Make account changes below and select "Update Account":</p>

        <div asp-validation-summary="All"></div>
        
        <p>Email (changes not permitted): @Model.Email</p>

        <input type="hidden" asp-for="Email" />

        <fieldset>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" />
        </fieldset>

        <fieldset>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" />
        </fieldset>

        <fieldset>
            <label asp-for="Birthdate"></label>
            <input asp-for="Birthdate" />
        </fieldset>

        <fieldset>
            <label asp-for="Phone"></label>
            <input asp-for="Phone" />
        </fieldset>

        <br />

        <p>Password changes (not required):</p>
        <p>(Password must be at least 8 characters with a mix of capital and lowercase letters, numbers, and special characters.)</p>
        <fieldset>
            <label asp-for="OldPassword"></label>
            <input asp-for="OldPassword" />
        </fieldset>

        <fieldset>
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" />
        </fieldset>

        <fieldset>
            <label asp-for="ConfirmNewPassword"></label>
            <input asp-for="ConfirmNewPassword" />
        </fieldset>

        <p>Address (not required):</p>
        <fieldset>
            <label asp-for="MailAddress"></label>
            <input asp-for="MailAddress" />
        </fieldset>

        <fieldset>
            <label asp-for="MailCity"></label>
            <input asp-for="MailCity" />
        </fieldset>
        <fieldset>
            <label asp-for="MailState"></label>
            <select asp-for="MailState" asp-items="@Html.GetEnumSelectList<SiltonFoundation.Models.State>()"></select>

            <label class="zip" asp-for="MailZip"></label>
            <input class="zip" asp-for="MailZip" />
        </fieldset>

        <button type="submit">Update Account</button>
        <a asp-page-handler="Index">Close this form</a>
    </form>
    }
