@using Microsoft.AspNetCore.Identity
@using SiltonFoundation.Models
@inject SignInManager<AppUser> signInManager
@{
    Layout = "_Layout";
}



        @if (signInManager.IsSignedIn(User))
        {
            <h3>Welcome back, @User.Claims.First(c => c.Type == "FullName").Value!</h3>
            <a asp-controller="Home" asp-action="Index">Take me to my Dashboard</a>
        }
        else
        {
            <div class="login">
                <h2>@*Please log in to continue.*@</h2>
                <partial name="~/Views/Shared/_LoginPartial.cshtml" />
            </div>
        }

