@using Microsoft.AspNetCore.Identity
@using SiltonFoundation.Models
@inject SignInManager<AppUser> signInManager
@{
    Layout = "_Layout";
}




    <div class="login">
        <partial name="~/Views/Shared/_ResetPasswordPartial.cshtml" />
    </div>

