@page
@model SiltonFoundation.Pages.Evaluator.IndexModel
@{
}


@{
    Layout = "_Layout";
}


<h2>Evaluator Dashboard</h2>

<h3>This portal is under development.</h3>
@* TODO: Turn this section on when Evaluation features are active
    <section class="dash-section">
    <h3>Manage Profile</h3>
    <p>Update user account details</p>
</section>

<section class="dash-section">
    <h3>View Application Queue (current year)</h3>
    <p>View current year queue of application with statuses and dates, and links on each for you to evaluate it or render a decision.</p>
</section>

<section class="dash-section">
    <h3>View Applications (searchable or drop-down)</h3>
    <p>View contents of a selected application. This can be by search box or drop-down list.</p>
</section>

<section class="dash-section">
    <h3>Manage Evaluations</h3>
    <p>Enter or modify evaluations on applications here.</p>
    <p>SUBMIT button closes the evaluation and sends to Admin.</p>
</section>*@